.card-container {
  width: 250px;
  min-height: 450px;
  height: min-content;
  margin: 18px 10px;
  box-shadow: 0px 3px 3px #0000003b;
  transition: box-shadow 0.3s;
  position: relative;
  overflow: hidden;
}
.card-container:hover {
  box-shadow: 0px 10px 10px #0000003b;
}
.card_btn {
  -webkit-transform-origin-x: right;
  border-radius: "5px 0 0 5px";
  width: 170px;
}
.card-image {
  object-fit: cover;
  min-height: 370px;
  height: 370px;
  cursor: pointer;
}
.add-to-cart-btnn {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(42, 42, 42, 1) 0%, rgba(42, 171, 226, 1) 100%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.add-to-cart-btnn:hover {
  background: #2aabe2;
}
.add-to-cart-btnn:active {
  background: #2a2a2a;
}
.add-to-cart-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(42, 42, 42, 1) 0%,
    rgba(42, 171, 226, 1) 100%
  );
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.add-to-cart-btn:hover {
  background: #2aabe2;
}
.add-to-cart-btn:active {
  background: #2a2a2a;
}
.discreption-card {
  text-align: center;
  padding: 10px;
  font-size: 0.9em;
  font-weight: 600;
  min-height: 64px;
  justify-content: center;
}
.amount {
  width: 50%;
  height: 32px;
  margin: auto;
  border-radius: 20px;
  background-color: #fff;
}
.ant-rate-star:not(:last-child) {
  margin-right: 4px;
}
