.select_code .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 30px 0px 0px 30px;
  border: 1px solid  rgb(42, 171, 226);
  outline: none;
  height: 50px;
  padding: 6px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.city_select .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 10px;
  border: 1px solid  rgb(42, 171, 226);
  outline: none;
  height: 50px;
  padding: 4px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconSA {
  // background-image: url("../../../public/assets/flagSA.png");
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 20px;
}
