.card-container {
  margin: auto;
}
.event-card-container {
  width: 90%;
  max-width: 290px;
  background-color: #e9e9e9;
  margin: 25px auto;
  border-radius: 22px;
  box-shadow: 0px 10px 15px #0000003b;
  position: relative;
  text-align: center;
  display: block;
  overflow: hidden;
}
.event-card-image {
  border-radius: 22px 22px 12px 12px;
  object-fit: cover;
}
.event-card-title {
  text-align: center;
  padding: 10px;
  font-size: 0.9em;
  font-weight: 600;
}
.event-card-subtitle {
  display: grid;
  min-height: 73px;
}
.event-card-showmore-btn {
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(127, 75, 158, 1) 0%,
    rgba(235, 61, 97, 1) 100%
  );
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2.6%;
  width: 78%;
  margin: auto;
  cursor: pointer;
  border-radius: 16px 16px 0 0;
  transition: all 0.2s;
}
.event-card-showmore-btn:hover {
  background-color: #7f4b9e;
}
.event-card-showmore-btn:active {
  background-color: #eb3d61;
}
